{% extends "opportunities/layout.html" %}

{% block page_title %}
   {{ super() }} - Details about {{ opportunity.title }}
{% endblock %}

{% block content %}

<div class="container-fluid detail-title">
  <div class="container">
    <div class="row">

      <div class="col-md-10">
        <h1>{{ opportunity.title }}</h1>

        {% if opportunity.can_edit(current_user) %}
        <p><a href="{{ url_for('opportunities_admin.edit', opportunity_id=opportunity.id) }}">Edit this opportunity</a></p>
        {% endif %}
         <div class="status status-complete">
          {% if opportunity.is_upcoming %}
          <p class="status-date"><strong>Accepting submissions soon!</strong> Submit your responses starting on {{ opportunity.estimate_submission_start() }}</p>
          {% elif opportunity.is_submission_start %}
          <h3>Accepting submissions</h3>
          <p>Responses are due by {{ opportunity.estimate_submission_end() }}</p>
          {% elif opportunity.is_submission_end %}
          <h3>Closed</h3>
          <p>We are no longer accepting submissions.</p>
          {% endif %}
        </div>
        {% if opportunity.categories|length > 0 %}

        <div class="row">
          <div class="col-md-10">
            <p class="help-block">
            <strong>Tags:</strong>
            {% for category in opportunity.categories %}
              {% if loop.index <= 3 %}{{ category.category_friendly_name }};{% endif %}
            {% endfor %}
            {% if opportunity.categories|length > 3 %} and {{ opportunity.categories|length - 3 }} more{% endif %}
            </p>
          </div>
        </div>
        {% endif %}

      </div>

      <div class="col-md-4">

      </div>

    </div>
  </div>
</div>

<div class="container detail-body">
  <div class="row">
    <div class="col-md-12">
      {% include 'includes/flashes.html' %}
      <div class="col-sm-8">

        {% if not opportunity.is_public %}
          <div class="alert alert-warning beacon-detail" role="alert">
            <p><strong>Warning!</strong> This opportunity has not yet been approved to be published.</p>
            <p>{% if days_from_today(opportunity.planned_publish) > 0 %} Once it has been approved, it will be published on {{ opportunity.planned_publish|datetimeformat('%B %d, %Y')}}.{% else %} Once it has been approved, it will be published immediately.{% endif %}</p>
          </div>
        {% elif not opportunity.is_published %}
          <div class="alert alert-warning beacon-detail" role="alert">
            This opportunity will not be viewable by the general public until it's published on {{ opportunity.planned_publish|datetimeformat('%B %d, %Y') }}
          </div>
        {% endif %}

        <div class="row">
          <div class="detail-description">
            <h3><strong>What is it?</strong></h3>
            <p>{{ opportunity.description }}</p>
            {% if opportunity.is_upcoming %}
            <p><strong>We estimate that this opportunity will start accepting submissions on {{ opportunity.estimate_submission_start() }}.</strong></p>
            {% endif %}
          </div>
        </div>

        {% if opportunity.documents_needed and opportunity.documents_needed|length > 0 %}
        <div class="row detail-requirements">
          <h3><strong>What do I need?</strong></h3>
          <p>You will need the following documents to bid on this opportunity:</p>
          <ul>
            {% for doc in opportunity.get_needed_documents() %}
              {% if doc|lower not in ['other', 'not sure'] %}
              <li>
                {{ doc.display_name }} <br>
                <small class="text-muted">{{ doc.description }}</small>
              </li>

              {% endif %}
            {% endfor %}
          </ul>
        </div>

        {% endif %}

        {% if has_docs > 0 %}
        <div class="row">
          <h3><strong>Download Opportunity Documents</strong></h3>
          <p>Not sure where to start? The document labeled as an RFP (Request for Proposals), RFQ (Request for Qualifications), or IFB (Invitation for Bid) will contained more detailed instructions about the project timeline, what we're looking for, and how to put together a proposal.</p>
          <ul>
          {% for document in opportunity.opportunity_documents %}
          <li><a href="{{ document.get_href() }}">{{ document.clean_name() }}</a></li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if opportunity.opportunity_type.opportunity_response_instructions %}
        <div class="row">
          <h3><strong>How do I bid?</strong></h3>
          {{ opportunity.opportunity_type.opportunity_response_instructions|safe }}
        </div>
        {% endif %}

        <div class="row">
          <div class="browse-signup-collapse-container">
            <button data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary col-md-6">
              Follow this opportunity
            </button>
          </div>
        </div>
        <div class="row collapse browse-signup-form-container" id="collapseExample">
          <div class="well well-no-background">
            <form class="form form-horizontal" method="POST" action="#">
              {% include "opportunities/opp_signup_form.html" %}
            </form>
          </div>
        </div>

        <div class="spacer-20"></div>

      </div>
      <div class="col-sm-4 timeline-well">

        <h3><strong>Status</strong></h3>
        {% for event in opportunity.get_events() %}
        <div class="event {{ event.classes }}">
          <p><strong>{{ event.date }}</strong></p>
          <p>{{ event.description }}</p>
        </div>
        {% endfor %}

        <h3><strong>Have a question?</strong></h3>
        <div class="">
          <p>We'd be happy to answer it! Send it in to {% if opportunity.contact.first_name and opportunity.contact.last_name %}{{ opportunity.contact.first_name }} {{ opportunity.contact.last_name }} at {% endif %} <a href="mailto:{{ opportunity.contact.email }}">{{ opportunity.contact.email }}</a>.{% if has_docs > 0 %}</p><p> Please refer to the timeline section of the opportunity documents to see when the question &amp; answer period opens and closes.{% endif %}</p>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
