.wexplorer-explore {
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
}

.wexplorer-table > tbody > tr > td,
.wexplorer-table > thead > tr > th {
  padding: 15px;
}

.wexplorer-column-header {
  font-size: @font-size-base;
  text-transform: uppercase;
  font-weight: bold;
}

.details-callout {
  font-size: @font-size-large;
}

.wexplorer-well {
  background-color: darken(@body-bg, 2%);
  padding-left: 25px;
  padding-right: 25px;
}

.btn-header {
  margin-top: 22px;
}

.form-descriptive-text {
  padding-top: 7px;
}


.filter-checkbox {
  padding-left: 2px;
  padding-right: 8px;
}

.big-logo {
  max-width: 200px;
}

.nav-logo {
  max-width: 28px;
  margin-top: -2px;
}
