{% extends "public/layout.html" %}
{% import "macros/with_errors.html" as macros %}

{% block content %}
<div class="container">

  {{ super() }}

  {% if user.department == 'New User' %}
    Welcome to the Pittsbugh Purchasing Suite! Please update your information from the list below. You must select your department.
  {% endif %}

  <h4>Your Profile</h4>

  <form class="form form-horizontal" action="{{ url_for('users.profile') }}" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="first_name" class="col-sm-3 control-label">First Name:</label>
      <div class="col-sm-5">
        {{ macros.with_errors(form.first_name, class_="form-control", placeholder="First Name") }}
      </div>
    </div>
    <div class="form-group">
      <label for="first_name" class="col-sm-3 control-label">Last Name:</label>
      <div class="col-sm-5">
        {{ macros.with_errors(form.last_name, class_="form-control", placeholder="Last Name") }}
      </div>
    </div>
    <div class="form-group">
      <label for="department" class="col-sm-3 control-label">Update your Department: <span class="form-required">*</span></label>
      <div class="col-sm-5">
        {{ macros.with_errors(form.department, class_='form-control') }}
      </div>
    </div>
    <div class="col-sm-offset-3 col-sm-5 horizontal-form-submit input-no-left-padding-tablet">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>

  {% if user.contracts_following|length > 0 or user.contracts_starred|length > 0 %}
  <div class="spacer-20"></div>
  <hr>
  <div class="spacer-20"></div>

  <div class="row">
    {% if user.contracts_starred|length > 0 %}
    <div class="col-md-6">

      <h4>Contracts you have starred:</h4>

      <table class="table table-condensed table-striped">
        <thead>
          <th>Contract Name</th>
          <th>Unstar</th>
        </thead>
        <tbody>
          {% for contract in user.contracts_starred %}
            <tr>
              <td><a href="{{ url_for('wexplorer.contract', contract_id=contract.id) }}">{{ contract.description }}</a></td>
              <td>
                <a href="{{ url_for('wexplorer.unstar', contract_id=contract.id, next=thispage()) }}">
                  <span class="fa-stack text-center fa-1x">
                    <i class="fa fa-star"></i>
                  </span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    {% endif %}
    {% if user.contracts_following|length > 0 %}
    <div class="col-md-6">

      <h4>Contracts you are following:</h4>

      <table class="table table-condensed table-striped">
        <thead>
          <th>Contract Name</th>
          <th>Unfollow</th>
        </thead>
        <tbody>
          {% for contract in user.contracts_following %}
            <tr>
              <td><a href="{{ url_for('wexplorer.contract', contract_id=contract.id) }}">{{ contract.description }}</a></td>
              <td><a class="btn btn-danger btn-sm" href="{{ url_for('wexplorer.unsubscribe', contract_id=contract.id, next=thispage()) }}">Unsubscribe</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    {% endif %}
  </div>

  {% endif %}

</div>
{% endblock %}
