{% extends "opportunities/emails/base.html" %}

{% block content %}
<h2>A new City of Pittsburgh opportunity!</h2>
<p>We’re pleased to announce a new opportunity to work with the City: <a href="{{ url_for('opportunities.detail', opportunity_id=opportunity.id, _external=True) }}">{{ opportunity.title }}</a>. It falls under 
    {% for category in opportunity.categories %}
          {% if loop.index <= 3 %}{{ category.category_friendly_name }},{% endif %}
    {% endfor %}
        and {{ opportunity.categories|length - 3 }} more categories you selected. It could be a great fit for your business! 
</p>
<p>We invite you to <a href="{{ url_for('opportunities.detail', opportunity_id=opportunity.id, _external=True) }}">take a look</a> and send in a proposal if you’re interested! The window to send in proposals opens on {{ opportunity.planned_open }} and closes on {{ opportunity.planned_deadline }}.
</p>
<p>Have a question? Click on the link at the end of this message to send us an email, and we'll get back to you as soon as we can.</p>

<p>Thanks,<br>
The Beacon team
</p>
{% endblock %}

{% block footer %}
<p><a href="{{ url_for('opportunities.manage', _external=True) }}">Manage your subscription</a> | <a href="mailto:pittsburgh@codeforamerica.org?Subject=Feedback%20from%20Email">Questions? Email us</a>
{% endblock %}
