{% extends "opportunities/emails/base.html" %}

{% block content %}
<h2>Thank you for subscribing for updates about Pittsburgh Opportunities!</h2>
{% endblock %}

{% block panel %}
{% if categories|length > 20 %}
<p>You have signed up to receive notifications about {{ categories|length }} categories!</p>
{% else %}
<p>You have signed up to receive notifications about the following categories:</p>
<ul>
  {% for category in categories %}
  <li>{{ category.category_friendly_name }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block footer %}
<a href="{{ url_for('opportunities.manage', _external=True) }}">Manage your notification settings</a> | <a href="mailto:pittsburgh@codeforamerica.org?Subject=Feedback%20from%20Email">Send feedback</a>
{% endblock %}
