{% extends "opportunities/emails/base.html" %}

{% block content %}
<h2>Hello and welcome to Beacon!</h2>
<p>Thanks for subscribing for updates about opportunities to do business with the City of Pittsburgh! We hope you'll find an opportunity that's right for your business.</p>

{% if categories|length > 20 %}
<p>You've signed up to receive notifications about {{ categories|length }} categories. You can view all of them <a href="{{ url_for('opportunities.manage', _external=True) }}">here.</a></p>
{% else %}
<p>You've signed up to receive notifications about the following categories:</p>
<ul>
  {% for category in categories %}
  <li>{{ category.category_friendly_name }}</li>
  {% endfor %}
</ul>
{% endif %}

<p>Every two weeks, we’ll send a short summary of all opportunities that have been posted, so you don’t miss out on potential business. 
</p>
<p>Have a question? Click on the link at the end of this message to send us an email, and we'll get back to you as soon as we can.</p>
<p>Thanks,<br>
    - The Beacon team
</p>
{% endblock %}

{% block footer %}
<p><a href="{{ url_for('opportunities.manage', _external=True) }}">Manage your subscription</a> | <a href="mailto:pittsburgh@codeforamerica.org?Subject=Feedback%20from%20Email">Questions? Email us</a>
{% endblock %}
