
{% extends "public/layout.html" %}

{% block content %}
{{ super() }}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>About</h2>
      <p>The Pittsburgh Purchasing Suite is a collection of apps to help purchasers. It includes <a href="{{ url_for('scout.explore') }}">Scout</a>, a tool for discovering items that are on contract right now, and <a href="{{ url_for('opportunities.splash') }}">Beacon</a>, a tool for City Purchasers to advertise new opportunities and businesses to sign up to receive information about those opportunities.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Attributions</h2>
      <ul>
        <li><a href="https://thenounproject.com/search/?q=spyglass&i=143384">Spyglass Icon</a> created by Sergey Demushkin from Noun Project.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

