
{% extends "public/layout.html" %}
{% block content %}

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Pittsburgh Purchasing Suite</h1>
        <h4>The Pittsburgh Purchasing Suite is a collection of apps that help you procure things more quickly and easily.</h4>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<div class="spacer-50"></div>

<!-- /.row -->
<section id="services" class="services">
  <div class="spacer-10"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1 spacer-50">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">

          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-search fa-stack-1x fa-body-bg"></i>
              </span>
              <h4>
                <strong>Wexplorer</strong>
              </h4>
              <p>Search for contracts, companies, and items.</p>
              <a href="{{ url_for('wexplorer.explore') }}" class="btn btn-dark">Visit Wexplorer</a>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-sitemap fa-stack-1x fa-body-bg"></i>
              </span>
              <h4>
                <strong>Sherpa</strong>
              </h4>
              <p>Explore the procurement process and start new contracts.</p>
              <a href="{{ url_for('sherpa.index') }}" class="btn btn-dark">Visit Sherpa</a>
            </div>
          </div>

        <!-- /.row (nested) -->
      </div>

      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

{% endblock %}

