
{% extends "public/layout.html" %}
{% block content %}

{{ super() }}

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Welcome!</h1>
        <h5>The Pittsburgh Purchasing Suite is a collection of apps that help you procure things more quickly and easily.</h5>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<div class="spacer-30"></div>

<!-- /.row -->
<section id="services" class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <hr>
        <div class="row">

          {% if not _current_user.is_anonymous() and _current_user.is_conductor() %}
          <div class="col-md-4 col-sm-4">
          {% else %}
          <div class="col-md-4 col-sm-4 col-sm-offset-2">
          {% endif %}
            <div class="service-item">
              <a href="{{ url_for('scout.explore') }}">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-search fa-stack-1x fa-body-bg"></i>
                </span>
                <h4>
                  <strong>Scout</strong>
                </h4>
              </a>
              <p>Find out what's on contract.<br> Get updates when you need them.</p>
            </div>
          </div>

          {% if not _current_user.is_anonymous() and _current_user.is_conductor() %}
          <div class="col-md-4 col-sm-4">
            <div class="service-item">
              <a href="{{ url_for('conductor.index') }}">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-train fa-stack-1x fa-body-bg"></i>
                </span>
                <h4><strong>Conductor</strong></h4>
              </a>
              <p>Manage contracts.<br> Send notifications.</p>
            </div>
          </div>
          {% endif %}

          {% if not _current_user.is_anonymous() and _current_user.is_conductor() %}
          <div class="col-md-4 col-sm-4">
          {% else %}
          <div class="col-md-4 col-sm-4">
          {% endif %}
            <div class="service-item">
              <a href="{{ url_for('opportunities.splash') }}">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-body-bg"></i>
                </span>
                <h4><strong>Beacon</strong></h4>
              </a>
              <p>Find business opportunities.<br> Subscribe for updates.</p>
            </div>
          </div>

        </div><!-- /.row (nested) -->
      </div><!-- /.col-lg-10 -->
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

{% endblock %}

