{% extends "nav.html" %}

{% block brandhref %}{{ url_for('public.home') }}{% endblock %}

{% block brand %}Pittsburgh Purchasing Suite{% endblock %}

{% block applinks %}
<li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('wexplorer.explore') }}">Wexplorer</a></p></li>
<li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('sherpa.index') }}">Sherpa</a></p></li>
<li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('opportunities.index') }}">Opportunities</a></p></li>
{% endblock %}

{% block navlogin %}
{% include "nav-login.html" %}
{% endblock %}
