<!-- Conductor Action Tabs -->
<h4>Actions</h4>

{% if active_stage.id == current_stage.id %}
<ul class="nav nav-pills" role="tablist" id="tablist">
  <li role="presentation" class="active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Add Note</a></li>
  <li role="presentation"><a href="#email" aria-controls="email" role="tab" data-toggle="tab">Send Email</a></li>
  {% if active_stage.post_opportunities %}
  <li role="presentation"><a href="#beacon" aria-controls="beacon" role="tab" data-toggle="tab">Post to Beacon</a></li>
  {% endif %}
  <li role="presentation"><a href="#update-metadata" aria-controls="update-metadata" role="tab" data-toggle="tab">Update Metadata</a></li>
</ul>
{% endif %}

<!-- Tab panes -->
<div class="tab-content conductor-action-tabs">
  <div role="tabpanel" class="tab-pane active" id="activity">

    <div class="note-form-container">
      {% include 'conductor/detail/_add_note.html' %}
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="email">
    {% include 'conductor/detail/_send_updates.html' %}
  </div>

  <div role="tabpanel" class="tab-pane" id="beacon">
    {% include 'conductor/detail/_post_opportunities.html' %}
  </div>

  <div role="tabpanel" class="tab-pane" id="update-metadata">
    {% include 'conductor/detail/_update_metadata.html' %}
  </div>
</div>
