{% import "macros/with_errors.html" as macros %}

<div class="row">
  {% if active_stage.id != current_stage.id %}

  <div class="col-md-7">
    <span class="text-bigger"><strong>{{ active_stage.name }}</strong></span> <br/>
    <span>
      This stage has been completed. <a href="{{ url_for('conductor.detail', contract_id=contract.id, stage_id=current_stage.id) }}">View current stage</a>
    </span>
  </div>

  <div class="col-md-5">
    <form class="form-inline pull-right" method="POST" action="{{ url_for('conductor.transition', contract_id=contract.id, stage_id=active_stage.id, destination=active_stage.stage_id) }}">
      {{ complete_form.csrf_token() }}

      {% if complete_form.errors['complete'] %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ complete_form.errors['complete'] }}
      </div>
      {% endif %}

      <div class="alert alert-danger alert-dismissable hidden js-datepicker-validator">
        This date creates conflicts.
      </div>

      {{ macros.with_errors(complete_form.complete, **{
        'class': 'datetimepicker form-control',
        'data-started': active_stage.entered|localize,
        'data-maximum': _now()
      } )}}

      <button type="submit" class="btn btn-default js-transition">Revert</button>

    </form>
  </div>

  <div class="spacer-10"></div>

  {% else %}

  <div class="col-md-7">
    <span class="text-bigger btn-share-row">Current stage: <strong>{{ current_stage.name }}</strong></span>
  </div>
  <div class="col-md-5">
    <form class="form-inline pull-right" method="POST" action="{{ url_for('conductor.transition', contract_id=contract.id, stage_id=active_stage.id) }}">
      {{ complete_form.csrf_token() }}

      {% if complete_form.errors['complete'] %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ complete_form.errors['complete'] }}
      </div>
      {% endif %}

      <div class="alert alert-danger alert-dismissable hidden js-datepicker-validator">
        This date creates conflicts.
      </div>

      {{ macros.with_errors(complete_form.complete, **{
        'class': 'datetimepicker form-control',
        'data-started': active_stage.entered|localize,
        'data-maximum': _now()
      } )}}


      <button type="submit" class="btn btn-success js-transition">Save</button>

    </form>
  </div>
  {% endif %}
</div>
