{# Check if there is an entered and exited
    value. This means that we've already been
    through this stage entirely. Otherwise,
    check for an entered value only. This means that it's the
    current stage. If we have neither of those, gray it out
    because we aren't there yet.
 #}
<strong>Current flow: </strong>
{% if flows|length >0 %}
  <span data-toggle="collapse" href="#flowChoices" aria-expanded="false" aria-controls="flowChoices">{{ contract.current_flow.flow_name }}<span class="caret"></span></span>
  <div class="collapse" id="flowChoices">
    <div class="well">
      <strong>Switch to different flow:</strong>
      <ul>
      {% for flow in flows %}
        <li><a href="{{ url_for('conductor.detail', contract_id=contract.id, stage_id=active_stage.id, flow_switch=flow.id) }}">{{ flow }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% else %}
  <span>{{ contract.current_flow.flow_name }}</span>
{% endif %}

{% for stage in stages %}
  {% if stage.entered and stage.exited %}
    <div class="event event-complete {% if stage.id == active_stage.id %}event-active{% endif %}">
      <p><a href="{{ url_for('conductor.detail', contract_id=stage.contract_id, stage_id=stage.id) }}">{{ stage.name }}</a></p>
      <p class="event-date">
        {{ stage.exited.strftime('%Y-%m-%d') }}
      </p>
    </div>
  {% elif stage.entered %}
    <div class="event event-current {% if stage.id == active_stage.id %}event-active{% endif %}">
      <p>
        <a href="{{ url_for('conductor.detail', contract_id=stage.contract_id, stage_id=stage.id) }}">{{ stage.name }}</a>
        <a href="{{ url_for('conductor.detail', contract_id=stage.contract_id, stage_id=stage.id, transition='true') }}" id="stage-{{ stage.id }}" data-current="true" class="btn btn-detail btn-sm btn-success js-transition">Mark complete!</a>
      </p>
      <p class="event-date">
        {{ stage.entered.strftime('%Y-%m-%d') }}
      </p>
    </div>
  {% else %}
    <div class="event {% if stage.id == active_stage.id %}event-active{% endif %}">
      <p class="text-muted">
        {{ stage.name }}
      </p>
      <p class="event-date">
      </p>
    </div>
  {% endif %}
{% endfor %}
