<div class="conductor-detail-title">
  <div class="row">
    <div class="col-md-8">
      <h3><strong>{{ active_stage.description|title }}</strong></h3>
      <ul class="text-muted list-unstyled">
        {% if contract.get_spec_number().value %}
        <li class="">Spec Number: {{ contract.get_spec_number().value }}</li>
        {% elif contract.parent and contract.parent.get_spec_number().value %}
        <li class="">Old Spec Number: {{ contract.parent.get_spec_number().value }}</li>
        {% endif %}

        {% if contract.parent %}
          {% if contract.parent.expiration_date %}
            <li class="">Expires on {{ contract.parent.expiration_date|datetimeformat('%m/%d/%Y') }}</li>
          {% endif %}
          <li><a href="{{ url_for('wexplorer.contract', contract_id=contract.parent.id) }}">
            View on Scout
          </a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-4">
      <h3></h3>
      <p class="text-muted pull-right">
        <a href="{{ url_for('conductor.extend', contract_id=contract.id, stage_id=active_stage.id) }}" class="btn btn-default" onclick="return confirm('Please confirm that the contract has already gone through the proper extension process.')">Extend Contract</a></li>
        {% if contract.parent %}
        <a href="{{ url_for('conductor.kill_contract', contract_id=contract.id) }}" class="btn btn-default">Remove contract from use</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
