{% extends "opportunities/layout.html" %}
{% import "macros/with_errors.html" as macros %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form method="POST" enctype="multipart/form-data" action="{% if opportunity.id %}{{ url_for('opportunities_admin.edit', opportunity_id=opportunity.id) }}{% else %}{{ url_for('opportunities_admin.new') }}{% endif %}">

        {{ form.csrf_token() }}
        {% include "includes/flashes.html" %}

        <h3>Advertise an Opportunity</h3>
        <p>Fill out this form, and OMB will post your request to the City of Pittsburgh's new Opportunities website.</p>
        {% if opportunity.id %}
        <p><a href="{{ url_for('opportunities.detail', opportunity_id=opportunity.id) }}">View this opportunity on Beacon.</a></p>
        {% endif %}

        <div class="form-group">
          <label for="department" class="control-label">Department <span class="form-required">*</span></label>
          <p class="help-block">Who is the using department for this opportunity?</p>
          {{ macros.with_errors(form.department, class_="form-control")}}
        </div><!-- department -->

        <div class="form-group">
          <label for="contact_email" class="control-label">Contact Email <span class="form-required">*</span></label>
          <p class="help-block">What is the email of the primary contact for this opportunity?</p>
          {{ macros.with_errors(form.contact_email, class_="form-control", placeholder="ex: example@pittsburghpa.gov")}}
        </div><!-- email -->

        <div class="form-group">
          <label for="title" class="control-label">Title <span class="form-required">*</span></label>
          <p class="help-block">What do you want your opportunity to be named?</p>
          {{ macros.with_errors(form.title, class_="form-control", placeholder="ex: What you need")}}
        </div><!-- title -->

        <div class="form-group">
          <label for="description" class="control-label">Description <span class="form-required">*</span></label>
          <p class="help-block">How would you describe what you are looking to purchase (no more than 500 words).</p>
          {{ macros.with_errors(form.description, class_="form-control", rows=4, placeholder="ex: The City of Pittsburgh will need to purchase...")}}
        </div><!-- description -->

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="planned_advertise" class="control-label">Advertise Date <span class="form-required">*</span></label>
              <p class="help-block">
                When do you want this opportunity to be made public? If you are uncertain, use an approximate date.
              </p>
              {{ macros.with_errors(form.planned_advertise, class_="form-control datepicker", placeholder="ex: 2015-01-01")}}
            </div><!-- publication date -->
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="planned_open" class="control-label">Open Date <span class="form-required">*</span></label>
              <p class="help-block">
                When do you want to start receiving responses to this opportunity? If you are uncertain, use an approximate date.
              </p>
              {{ macros.with_errors(form.planned_open, class_="form-control datepicker", placeholder="ex: 2015-01-01")}}
            </div><!-- opportunity open date -->
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="planned_deadline" class="control-label">Planned Deadline <span class="form-required">*</span></label>
              <p class="help-block">
                When is the deadline for vendors to respond to this opportunity? If you are uncertain, use an approximate date.
              </p>
              {{ macros.with_errors(form.planned_deadline, class_="form-control datepicker", placeholder="ex: 2015-01-01")}}
            </div><!-- opp deadline -->
          </div>
        </div><!-- dates -->

        <div class="form-group">
          <label for="documents_needed" class="control-label">Documents the vendor will need</label>
            <p class="help-block">
              Choose the documents that vendor will need to include in order to successfully respond to the opportunity.
            </p>
            {{ form.documents_needed }}
        </div><!-- documents needed -->

        <div class="form-group">
          <label for="document" class="control-label">Upload your solicitation document.</label>
          <p class="help-block">
            If you don't have it on hand right now, don't worry. We'll email you two weeks before the publication date to remind you to upload it.
          </p>
          <p class="help-block"><strong>
            .pdf, .doc, or .docx files only!
          </strong></p>
          {% if opportunity and opportunity.opportunity_documents.all()|length > 0 %}
            <p><strong>Uploaded files:</strong>
            <ul>
              {% for document in opportunity.opportunity_documents %}
              <li>
                <a href="{{ document.get_href() }}" target="_blank">{{ document.name }}</a>
                <span class="pull-right"><a class="js-confirm-delete" href="{{ url_for('opportunities_admin.remove_document', opportunity_id=opportunity.id, document_id=document.id) }}" data-confirm="Are you sure you want to delete this document? This cannot be undone."><i class="fa fa-trash-o"></i></a></span>
              </li>
              {% if not loop.last %}<hr class="hr-no-padding">{% endif %}
              {% endfor %}
            </ul>
          <p><strong>Upload additional files:</strong> {{ macros.with_errors(form.document, multiple="")}}</p>
          {% else %}
          {{ macros.with_errors(form.document, multiple="")}}
          {% endif %}
        </div><!-- document upload -->

        <div class="row">
          <div class="col-sm-12">
            <label>Which categories would you use to describe this opportunity?</label>
            <p class="help-block">Feel free to choose as many categories as you would like.</p>
          </div>

          {% include 'opportunities/_categories.html' %}

        </div>

        {% if opportunity.categories|length > 0 %}
        <div class="row">
          <div class="col-sm-12">
            <label>Currently Assigned Categories:</label>
            <ul>
              {% for category in opportunity.categories %}
              <li>{{ category.category_friendly_name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

        <div class="spacer-10"></div>
        {% if current_user.is_conductor() %}

        <div class="form-group">
          <label>Publish this opportunity</label>
          <p class="help-block">Checking this box will make this opportunity visible to everyone (including the general public) on the <a href="{{ url_for('opportunities.browse') }}">browse page</a>.</p>
          <label>
            {{ macros.with_errors(form.is_public) }} Make visible
          </label>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-primary col-sm-6">
          {% if current_user.is_conductor() %}
          Publish Opportunity
          {% else %}
          Submit to OMB
          {% endif %}
        </button>

      </form>

      <div class="spacer-50"></div>

    </div><!-- form wrapper -->
  </div>
</div>

{% endblock %}

{% block jsvars %}
<script type="text/javascript">
  var subcategories = {{ subcategories|safe }};
  var categories = {{ categories|safe }};
</script>
{% endblock %}
