{% extends "opportunities/layout.html" %}
{% import "macros/with_errors.html" as macros %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="spacer-20"></div>
      {% include "includes/flashes.html" %}

      <h3><strong>Opportunities awaiting OMB approval</strong></h3>
      <div class="spacer-20"></div>

      {% for opportunity in pending %}
      <div class="pending-opportunity">
        <div class="row">
          <div class="col-xs-12">

            <div class="row pending-opportunity-title">
              <div class="col-sm-7">
                <p class="pending-opportunity-title-text"><strong>{{ opportunity.title }}</strong></p>
              </div>
              <div class="col-sm-5">
                <div class="pull-right">
                {% if not current_user.is_anonymous() and current_user.is_conductor() %}
                  <a href="{{ url_for('opportunities_admin.archive', opportunity_id=opportunity.id) }}" onclick="return confirm('Click ok to archive this opportunity. Otherwise hit cancel to keep it in pending.')" style="padding-right:10px;">Archive</a>
                {% endif %}
                {% if opportunity.can_edit(current_user) %}
                <a class="pending-opportunity-edit" href="{{ url_for('opportunities_admin.edit', opportunity_id=opportunity.id) }}">
                  <strong>Edit</strong>
                </a>
                {% endif %}
                {% if not current_user.is_anonymous() and current_user.is_conductor() %}
                  <a href="{{ url_for('opportunities_admin.publish', opportunity_id=opportunity.id) }}" class="btn btn-primary">Publish on {{ opportunity.planned_publish|datetimeformat('%m/%d/%y') }}</a>
                {% endif %}
                </div>
              </div>
            </div>

            <p><h4>Description:</h4>{{ opportunity.description }}</p>
            <p><h4>Contact:</h4>{{ opportunity.contact }}</p>
            <p><h4>Department:</h4>{{ opportunity.department }}</p>

            <div class="row">
              <div class="col-xs-4">
                <h4>Planned publish date</h4>
                <p>{{ opportunity.planned_publish|datetimeformat('%m/%d/%y') }}</p>
              </div>
              <div class="col-xs-4">
                <h4>Submission start date</h4>
                <p>{{ opportunity.planned_submission_start|datetimeformat('%m/%d/%y') }}</p>
              </div>
              <div class="col-xs-4">
                <h4>Submission end date</h4>
                <p>{{ opportunity.planned_submission_end|datetimeformat('%m/%d/%y') }}</p>
              </div>
            </div><!-- dates -->

        </div>
      </div><!-- pending opportunity card -->
      {% endfor %}

      {% if pending|length == 0 %}
      <p class="lead">
        There are no currently pending opportunities. You can <a href="{{ url_for('opportunities_admin.new') }}">create a new one</a> and it will appear here!
      </p>
      {% endif %}

      {% if approved|length > 0 %}
      <h3><strong>Opportunities approved and scheduled to publish</strong></h3>
      <div class="spacer-20"></div>

      <div class="table-responsive">
        <table class="table table-striped table-beacon">
          <thead>
            <tr>
              <th>Opportunity</th>
              <th>Department</th>
              <th>Public on</th>
              {% if not current_user.is_anonymous() %}
              <th>Edit </th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for opportunity in approved|sort(attribute='planned_publish') %}
            <tr>
              <td class="col-md-5"><a href="{{ url_for('opportunities.detail', opportunity_id=opportunity.id) }}">{{ opportunity.title }}</a></td>
              <td class="col-md-3">{{ opportunity.department }}</td>
              <td class="col-md-2">{{ opportunity.planned_publish|datetimeformat('%m/%d/%y') }}</td>
              {% if opportunity.can_edit(current_user) %}
              <td class="col-md-2"><a href="{{ url_for('opportunities_admin.edit', opportunity_id=opportunity.id) }}">Edit</a></td>
              {% elif not current_user.is_anonymous() %}
              <td><i class="fa fa-minus"></i></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
