{% extends 'wexplorer/layout.html' %}
{% block content %}

{{ super() }}

<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="well wexplorer-well">
        <div class="row">
        <div class="col-md-9">
          <h3><strong>{{ company.company_name|title }}</strong></h3>
          {% if current_user.role.name in ['admin', 'superadmin'] %}
          <p>
            <a href="{{ url_for('company.edit_view', id=company.id) }}">Edit this company</a>
          </p>
          {% endif %}
        </div>
        {% if company.contacts.count() > 0 %}
          <div class="col-md-3">
            <p class="wexplorer-column-header">Primary Contact</p>
            <ul class="list-unstyled">
              {% set contact = company.contacts[0] %}
              {% include "wexplorer/company_contact.html" %}
            </ul>
          </div>
        {% endif %}
      </div>
      </div>

      <div class="row row-well-padding">
        {% if company.contacts.count() > 1 %}
        <div class="col-md-6">
          <p class="wexplorer-column-header">Additional Contact Information</p>
          <ul class="list-unstyled">
            {% for contact in company.contacts[1:] %}
              {% include "wexplorer/company_contact.html" %}
              {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="col-md-6">
          <p class="wexplorer-column-header">Contracts</p>
          <ul>
          {% for contract in company.contracts %}
            <li>
              <a href="{{ url_for('wexplorer.contract', contract_id=contract.id) }}">{{ contract.description|title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
