{% extends 'wexplorer/layout.html' %}
{% import 'macros/render_pagination.html' as macros %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include 'wexplorer/shared/side_search.html' %}
  </div>
  <div class="col-md-9">

    <h3>
      {{ contract.description }}
      {% if current_user in contract.users %}
        <a href="{{ url_for('wexplorer.unsubscribe', contract_id=contract.id, next=path) }}" class="btn btn-danger">Stop receiving updates</a>
      {% elif current_user.role.name != 'anonymous' %}
        <a href="{{ url_for('wexplorer.subscribe', contract_id=contract.id, next=path) }}" class="btn btn-primary">Subscribe for updates</a>
      {% endif %}
    </h3>

    {% if current_user.role.name in ['admin', 'superadmin'] %}
    <p>
      <a href="{{ url_for('contract.edit_view', id=contract.id) }}">Edit this contract</a>
    </p>
    {% endif %}

    <hr>

    <div class="row">
      <div class="col-md-6">
        <p class="lead">Basic Contract Information</p>
        <ul>
          {% if contract.contract_type %}
          <li>Contract Type: {{ contract.contract_type }}</li>
          {% endif %}
          {% if contract.expiration_date %}
          <li>Expiration Date: {{ contract.expiration_date }}</li>
          {% endif %}
          {% if contract.financial_id %}
          <li>Controller Number: {{ contract.financial_id }}</li>
          {% endif %}
        </ul>
        <p class="lead">More Details</p>
        <ul>
        {% for property in contract.properties %}
          <li>{{ property.key }}: {{ property.value|urlize(30) }}</li>
        {% endfor %}
        </ul>
      </div>

      <div class="col-md-6">

        {% if contract.line_items.count() > 0 %}
        <p class="lead">Line Items
        {% if pagination.pages > 1 %}
          <small>{{ macros.render_pagination(pagination) }}</small>
        {% endif %}
        </p>

        <table class="table table-condensed table-striped">
          <thead><th>Description</th></thead>
          <tbody>
          {% for _item in contract.line_items[lower_bound_result:upper_bound_result] %}
            <tr>
              <td>{{ _item.description }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <p class="lead">Awarded Companies</p>
        <ul>
        {% for company in contract.companies %}
          <li>
            <a href="{{ url_for('wexplorer.company', company_id=company.id) }}">{{ company.company_name }}</a>
          </li>
        {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>
{% endblock %}
