{% extends 'wexplorer/layout.html' %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include 'wexplorer/shared/side_search.html' %}
  </div>
  <div class="col-md-9">
    <h3>{{ contract.description }}</h3>
    {% if current_user.role.name in ['admin', 'superadmin'] %}
    <p>
      <a href="{{ url_for('contract.edit_view', id=contract.id) }}">Edit this contract</a>
    </p>
    {% endif %}
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">Basic Contract Information</p>
        <ul>
          {% if contract.contract_type %}
          <li>Contract Type: {{ contract.contract_type }}</li>
          {% endif %}
          {% if contract.expiration_date %}
          <li>Expiration Date: {{ contract.expiration_date }}</li>
          {% endif %}
        </ul>
        <p class="lead">More Details</p>
        <ul>
        {% for property in contract.properties %}
          <li>{{ property.key }}: {{ property.value }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <p class="lead">Awarded Companies</p>
        <ul>
        {% for company in contract.companies %}
          <li>
            <a href="{{ url_for('wexplorer.company', company_id=company.id) }}">{{ company.company_name }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
