{% extends 'wexplorer/layout.html' %}

{% block content %}

<div class="row text-center">

  <a href="{{ url_for('wexplorer.explore') }}"><img class="big-logo" src="{{ url_for('static', filename='img/wexplorer-logo.png') }}"></a>

  <h2>helps you find goods and services</h2>

  <div class="spacer-10"></div>

  <form id="search-box" method="GET" class="form form-inline" action="{{ url_for('wexplorer.search') }}">

    <h4>
      Search company names and contract descriptions,
    </h4>
    <div class="form-group">
      {{ search_form.q(placeholder="I'm looking for...", class_="form-control input-lg") }}
    </div>

    <h4>
      <div class="spacer-10"></div>
      or see what contracts a department is using.
    </h4>

    <div class="spacer-10"></div>

    <div class="form-group">
      {{ search_form.department(class_="form-control") }}
    </div>

    <div class="spacer-20"></div>

    <input class="btn btn-default btn-success input-lg" type="submit" value="Search">
  </form>

</div>


{% endblock %}
