{% extends 'wexplorer/layout.html' %}
{% import 'macros/render_pagination.html' as macros %}
{% block content %}

{{ super() }}

<div class="container">
  {% if results %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="col-md-9"><h4>{{ department }} subscribes to:</h4></div>
      <div class="col-md-3">{% include "wexplorer/choices.html" %}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table wexplorer-table table-striped table-condensed" id="js-sort-results">
        <thead>
          <tr>
            <th>Contract</th>
            <th class="js-sortable-th">Number of Subscribers</th>
          </tr>
        </thead>
        <tbody>
        {% for result in results %}
          <tr>
            <td><a href="{{ url_for('wexplorer.contract', contract_id=result.id) }}">
              {{ result.description|title }}
            </a></td>
            <td>{{ result.stars }}</td>
            <td>{{ result.follows }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <ul>
      </ul>
      {% if pagination.pages > 1 %}
        {{ macros.render_pagination(pagination) }}
      {% endif %}
    </div>
  </div>
  {% elif department %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>No one from this department has subscribed to any contracts yet!</h4>
      <p>Is this your department? Help compile a list of contracts by <a href="{{ url_for('users.profile') }}">updating your profile</a> and subscribing to contracts that you use!</p>

      {% include "wexplorer/choices.html" %}
    </div>
  </div>

  {% else %}

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>Choose a department to get started!</h4>
      {% include "wexplorer/choices.html" %}
    </div>
  </div>

  {% endif %}
</div>
{% endblock %}
