{% extends "includes/nav.html" %}

{% block brandhref %}{{ url_for('wexplorer.explore') }}{% endblock %}

{% block brand %}<img class="nav-logo" src="{{ url_for('static', filename='img/scout_logo_binoculars.png') }}"><strong>Scout</strong>{% endblock %}

{% block applinks %}
<li>
  <form id="search-box" method="POST" class="form navbar-form" action="{{ url_for('wexplorer.search') }}" role="search">
    <div class="form-group">
      {{ search_form.q(placeholder="I'm looking for...", class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</li>

<li class="dropdown">
  {% if choices|length > 0 %}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse a Department <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    {% for choice in choices %}
    <li><a href="{{ url_for('wexplorer.filter', department_id=choice[0]) }}">{{ choice[1] }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</li>

{% endblock %}

{% block nav_login %}
  {% include "includes/nav-login.html" %}
  {% if not current_user.is_anonymous() %}
  <li role="separator" class="divider"></li>
  <li><a class="navbar-link" href="https://docs.google.com/document/d/1hV5_yHKWWgU2qgtPI011cdiWOvXewRJK3v-MaXEXEkA/export?format=pdf"><i class="fa fa-file-pdf-o"></i> How to use Scout</a></li>
  {% endif %}
{% endblock %}
