{% extends "includes/nav.html" %}

{% block brandhref %}{{ url_for('wexplorer.explore') }}{% endblock %}

{% block brand %}<img class="nav-logo" src="{{ url_for('static', filename='img/scout_logo_binoculars.png') }}"><strong>Scout</strong>{% endblock %}

{% block applinks %}
<li>
  <form id="search-box" method="GET" class="form navbar-form" action="{{ url_for('wexplorer.search') }}" role="search">
    <div class="form-group">
      {{ search_form.q(placeholder="I'm looking for...", class_="form-control") }}
    </div>
    {% if filter_form %}
      {{ filter_form.company_name(class_="hidden") }}
      {{ filter_form.contract_description(class_="hidden") }}
      {{ filter_form.contract_detail(class_="hidden") }}
      {{ filter_form.line_item(class_="hidden") }}
      {{ filter_form.financial_id(class_="hidden") }}
      {{ filter_form.archived(class_="hidden") }}
      {{ filter_form.contract_type(class_="hidden") }}
    {% endif %}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</li>

<li class="dropdown">
  {% if choices|length > 0 %}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse a Department <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    {% for choice in choices %}
    <li><a href="{{ url_for('wexplorer.filter', department_id=choice[0]) }}">{{ choice[1] }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</li>

<li><a class="navbar-link" href="https://docs.google.com/document/d/1hV5_yHKWWgU2qgtPI011cdiWOvXewRJK3v-MaXEXEkA/export?format=pdf">How to use Scout</a></li>

{% endblock %}
