.conductor-action-tabs {
  margin-top: 20px;
}

.conductor-detail-title {
  background-color: @body-bg;
}

.email-contact-well {
  margin-top: 15px;
}

.event-well {
  position: fixed;
}

.js-email-contact-card {
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

.checkbox label {
  padding-left: 25px;
}
