.event-well {
  background: @body-bg;
  overflow-y: scroll;
  max-height: @event-well-height;
}

.event {
  position: relative;
  border-left-width: @conductor-timeline-border-left-size;
  border-left-style: solid;
  border-left-color: @conductor-timeline-dot-default;
  margin: @conductor-timeline-dot-margin;
  padding: @conductor-timeline-dot-margin;
  &:before {
    content: "";
    font: normal normal normal 16px/1 FontAwesome;
    position: absolute;
    top: -2px;
    left: -(@conductor-timeline-dot-margin * 2 + @conductor-timeline-border-left-size + 0.5);
    width: @conductor-timeline-dot-radius;
    height: @conductor-timeline-dot-radius;
    border-radius: 50%;
    background: white;
    color: @conductor-timeline-dot-default;
    border: @conductor-timeline-border-size solid white;
  }

  &.event-current {
    min-height: 65px;
    border-left-color: @conductor-timeline-dot-current;
    padding: 5px;
    &:before {
      content: "\f10c";
      color: @conductor-timeline-dot-current;
    }
  }

  &.event-active {
    min-height: 65px;
    background: @well-bg;
    padding: 5px;
  }

  &.event-complete {
    min-height: 65px;
    border-left-color: @conductor-timeline-dot-complete;
    padding: 5px;
    &:before {
      content: "\f058";
      color: @conductor-timeline-dot-complete;
    }
  }

  &.event-not-started {
    min-height: 40px;
    &:before {
      content: "\f10c";
    }
  }

  span,
  p {
    margin-left: 20px;
  }

  span.event-date,
  p.event-date {
    font-weight: bold;
    margin-bottom: 0;
  }
}

.action-event {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 3px solid darken(@gray-lighter, 10%);
  border-radius: 1px;

  &.action-event-date {
    border-left: 3px solid @conductor-timeline-dot-current;
  }
}
.less-padding-container {
  width: 95%;
}
