.c3 svg {
    font: 10px sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 10px;
    line-height: normal;
    font-family: @font-family-sans-serif;
}
