h4 {
  font-size: @font-size-h4-caps;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-gray {
  background-color: lighten(@gray-light, 15%);
}

.btn.btn-gray {
  color: @text-color;
}

.ban-error {
  color: darken(@brand-danger, 10%);
}

.check-success {
  color: darken(@brand-success, 10%);
}

.text-bigger {
  font-size: @font-size-large;
}

.well-no-border {
  border: none;
}

.text-normal {
  text-decoration: none;
  font-weight: normal;
}

@media (min-width: 768px) {
  .form-horizontal {
    .stage-order-list {
      text-align: left;
    }
  }
}

input.checkbox-normal {
  margin-left: 15px;
}
