.event-well {
  background: @body-bg;
  overflow-y: scroll;
  max-height: 550px;
}

.btn-gray {
  background-color: lighten(@gray-light, 15%);
}

.btn.btn-gray {
  color: @text-color;
}

.ban-error {
  color: darken(@brand-danger, 10%);
}

.check-success {
  color: darken(@brand-success, 10%);
}

.event {
  min-height: 65px;
  position: relative;
  border-left: 5px solid @conductor-timeline-dot-default;
  margin: 5px;
  padding: 5px;
  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -(@conductor-timeline-dot-radius + @conductor-timeline-border-size)/2;
    width: @conductor-timeline-dot-radius;
    height: @conductor-timeline-dot-radius;
    border-radius: 50%;
    border: @conductor-timeline-border-size solid white;
    background: @conductor-timeline-dot-default;
  }

  &.event-current {
    border-left:5px solid @conductor-timeline-dot-current;
    padding: 5px;
    &:before {
      background: @conductor-timeline-dot-current;
    }
  }

  &.event-active {
    background: darken(@body-bg, 15%);
    padding: 5px;
  }

  &.event-complete {
    border-left:5px solid @conductor-timeline-dot-complete;
    padding: 5px;
    &:before {
      background: @conductor-timeline-dot-complete;
    }
  }

  p {
    margin-left: 20px;
  }

  p.event-date {
    font-size: @font-size-large;
    font-weight: bold;
  }
}

.action-event {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 3px solid darken(@gray-lighter, 10%);
  border-radius: 1px;
}

.action-event-date {
  border-left: 3px solid darken(@brand-info, 10%);
}

.action-event-reversion {
  border-left: 3px solid darken(@brand-warning, 10%);
}

.less-padding-container {
  width: 95%;
}
