<table class="display" id="js-table-all">
  <thead>
    <th>Assigned To Filter (Hidden)</th>
    <th></th>
    <th>Item #</th>
    <th>Name</th>
    <th>Spec #</th>
    <th>Controller #</th>
    <th>Expires Sort (Hidden)</th>
    <th>Expires</th>
    <th>Assigned</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for contract in _all %}
    <tr class="{%- if days_from_today(contract.expiration_date) < 60 -%}contract-row-expiring-danger
    {%- elif days_from_today(contract.expiration_date) < 120 -%}contract-row-expiring-warning
    {%- endif -%}"
    data-full-description="{{ contract.description|title }}"
    data-companies="{{ contract.companies|display_dedupe_array|title }}">

      <td>{{ contract.email }}</td><!-- assigned to filter flag, hidden by datatables -->
      <td class="details-control"><i class="fa fa-plus"></i></td>
      <td>{{ contract.id }}</td>

      <td>
        <span {% if contract.stage_name -%}class="title-update-span"{%- endif -%}>{{ contract.description|title|truncate(50) }}</span>
      </td>

      <td>{{ contract.spec_number}}</td><!-- spec number -->

      <td>{{ contract.financial_id }}</td><!-- controller number -->

      <td>{{ contract.expiration_date }}</td><!-- expiration date for sorting -->
      <td>
        {% if contract.expiration_date %}
        <strong class="highlight">{{ format_days_from_today(contract.expiration_date) }}</strong><br>
        <span class="text-muted">
          <small>{{ contract.expiration_date|datetimeformat('%m/%d/%Y') }}</small>
        </span>
        {% else %}
        --
        {% endif %}
      </td><!-- formatted expiration date -->

      <td>
        <div class="dropdown">
          <button id="dLabel-{{ contract.id }}" class="btn btn-default btn-sm btn-assigned" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if contract.first_name %}{{ contract.first_name }}{% elif contract.email %}{{ contract.email.split('@')[0] }}{% else %}Unassigned{% endif %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel-{{ contract.id }}">
            {% for conductor in conductors %}
              <li><a href="{{ url_for('conductor.reassign', contract_id=contract.id, user_id=conductor.id) }}">{{ conductor.print_pretty_name() }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </td><!-- assigned to -->

      <td>
      <div class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle highlight" type="button" id="actionDropdown-{{ contract.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="actionDropdown-{{ contract.id }}">
          <li><a href="{{ url_for('conductor.start_work', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-play-circle-o"></i></span> Start work
          </a></li>
          {% if contract.contract_href %}
          <li><a href="{{ contract.contract_href }}" target="_blank">
            <span class="fa-stack"><i class="fa fa-fw fa-file-pdf-o"></i></span> View contract
          </a></li>
          {% endif %}
          <li><a href="{{ url_for('scout.contract', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-search"></i></span> View on Scout
          </a></li>
          <li><a href="{{ url_for('conductor.remove', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-chain-broken"></i></span> Remove contract from Conductor only
          </a></li>
          <li><a href="{{ url_for('conductor.kill_contract', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-times-circle"></i></span> Remove contract from Scout and Conductor
          </a></li>
        </ul>
      </div>
      </td><!-- button dropdowns -->

    </tr>
    {% endfor%}
  </tbody>
</table><!-- all contracts table  conductor-add-new-->
