<table class="display" id="js-table-progress">
  <thead>
    <th>Assigned To Filter (Hidden)</th>
    <th></th>
    <th>Spec #</th>
    <th>Name</th>
    <th>Expiration Sort (Hidden)</th>
    <th>Expiration Date</th>
    <th>Current Step</th>
    <th>Current Step Started Sort (Hidden)</th>
    <th>Current Step Started</th>
    <th>Assigned To</th>
    <th>Actions</th>

  </thead>
  <tbody>
    {% for contract in in_progress %}
    <tr class="{%- if days_from_today(contract.entered) < -14 -%}contract-row-expiring-danger
    {%- elif days_from_today(contract.entered) < -7 -%}contract-row-expiring-warning
    {%- endif -%}" data-department="{{ contract.department }}"
    data-controller="{{ contract.financial_id or 'None' }}"
    data-full-description="{{ contract.description|title }}"
    data-item-number="{{ contract.id }}"
    data-spec-number="{{ contract.spec_number }}"
    data-parent-spec-number={% if contract.parent_spec %}"{{ contract.parent_spec }}"}{% else %}"--"{% endif %}
    data-companies="{{ contract.companies|display_dedupe_array|title }}">

      <td>{{ contract.email }}</td><!-- assigned to filter flag, hidden by datatables -->

      <td class="details-control"><i class="fa fa-plus"></i></td>

      <td>
        {% if contract.spec_number %}
        {{ contract.spec_number }}
        {% elif contract.parent_spec %}
        {{ contract.parent_spec }}<br>
        <span class="text-muted text-normal"><small>Old spec</small></span>
        {% else %}
        {{ contract.id }} <br>
        <span class="text-muted text-normal"><small>Item #</small></span>
        {% endif %}
      </td>

      <td>
        <span {% if contract.stage_name -%}class="title-update-span"{%- endif -%}>
          {{ contract.description|title|truncate(35) }}
        </span><br />
        <a href="{{ url_for('conductor.detail', contract_id=contract.id) }}">
          <small><strong>Update</strong></small>
        </a>
      </td>

      <td>{{ contract.parent_expiration }}</td><!-- expiration date for sorting -->
      <td>
        {% if contract.parent_expiration %}
        <strong class="highlight">{{ format_days_from_today(contract.parent_expiration) }}</strong><br>
        <span class="text-muted text-normal">
          <small>{{ contract.parent_expiration|datetimeformat('%m/%d/%Y') }}</small>
        </span>
        {% else %}
        --
        {% endif %}
      </td><!-- formatted expiration date -->

      <td>{{ contract.stage_name }}</td><!-- current stage -->

      <td>{{ contract.entered }}</td><!-- current stage started for sorting, hidden by datatables -->

      <td>
        <strong class="highlight">{{ format_days_from_today(contract.entered) }}</strong><br />
        <span class="text-muted">
          <small>Started: {{ contract.entered|datetimeformat('%m/%d/%Y') }}</small>
        </span>
      </td><!-- formatted current stage started -->

      <td>
        <div class="dropdown">
          <button id="dLabel-{{ contract.id }}" class="btn btn-default btn-sm btn-assigned" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if contract.first_name %}{{ contract.first_name }}{% else %}{{ contract.email.split('@')[0] }}{% endif %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel-{{ contract.id }}">
            {% for conductor in conductors %}
              <li><a href="{{ url_for('conductor.reassign', contract_id=contract.id, user_id=conductor.id) }}">{{ conductor.print_pretty_name() }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </td>

      <td>
      <div class="dropdown">
        <button class="btn btn-default btn-sm dropdown-toggle highlight" type="button" id="actionDropdown-{{ contract.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="actionDropdown-{{ contract.id }}">
          <li><a href="{{ url_for('conductor.detail', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-search-plus"></i></i></span> Update contract
          </a></li>
          {% if contract.parent_contract_href %}
          <li><a href="{{ contract.parent_contract_href }}" target="_blank">
            <span class="fa-stack"><i class="fa fa-fw fa-file-pdf-o"></i></span> View Contract
          </a></li>
          {% endif %}
          <li><a href="{{ url_for('scout.contract', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-search"></i></span> View on Scout
          </a></li>
          <li><a href="{{ url_for('conductor.kill_contract', contract_id=contract.id) }}">
            <span class="fa-stack"><i class="fa fa-fw fa-times-circle"></i></span> Remove contract from Conductor
          </a></li>
        </ul>
      </div>
      </td><!-- button dropdowns -->

    </tr>
    {% endfor %}
  </tbody>
</table><!-- in progress contracts table -->
