<footer class="footer">
  <div class="text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <small>
        <p>
          Made by <a target="_blank" href="http://www.codeforamerica.org/">Code for America</a> in partnership with the <a target="_blank" href="http://pittsburghpa.gov/">City of Pittsburgh</a>.
        </p>
        <img class="footer-logo-wide" src="{{ url_for('static', filename='img/cfa_grayscale.png') }}"><img class="footer-logo-tall" src="{{ url_for('static', filename='img/pittsburgh_seal.png') }}">
      </small>
    </div>
  </div>
</footer>
