{% if current_user.email %}
<ul class="nav navbar-nav navbar-right">
  {% if current_user.role.name in ['admin', 'superadmin'] %}
  <li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('admin.index') }}">Admin</a></p></li>
  {% endif %}
  <li><p class="navbar-text"><a class="navbar-link" href="{{ url_for('users.profile') }}">Profile</a></p></li>
  <li><a class="navbar-link js-signout" href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
  <li><p class="navbar-text"><a href="#" class="navbar-link js-signin">Login</a></p></li>
</ul>
{% endif %}

