<div id="js-categories-container">

  <div class="row">
    <div class="col-sm-12">
      {% if 'subcategories' in form.errors.keys() %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <span>{{ form.errors['subcategories'][0] }}</span>
      </div>
      {% endif %}
    </div>
  </div>

  {% if opportunity and opportunity.categories|length > 0 %}
  <div class="form-group">
    <div class="col-sm-12">
      <label>Currently Assigned Categories:</label>
      <ul>
        {% for category in opportunity.categories %}
        <li>{{ category.category_friendly_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="form-group">
    <div class="col-sm-12">
      {{ macros.with_errors(form.categories, class_="form-control col-sm-12 js-category-select", id="category-0") }}
    </div>
  </div><!-- categories -->

  <div class="form-group" id="js-subcategory-group-0">
  </div>

</div><!-- /js-categories-container -->

<div class="form-group hidden" id="js-add-another-container">
  <div class="col-sm-6">
    <button type="button" class="form-control btn btn-primary another-category" id="js-add-category">Add another category</button>
  </div>
</div>
