{% extends "opportunities/layout.html" %}

{% block content %}
<div class="container-fluid">

  <div id="splash-header" class="header">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><strong>The City of Pittsburgh could be your next client.</strong></h1>
        <div class="spacer-20"></div>
        <h3>Sign up to get notifications about opportunities for your business</h3>
        <div class="spacer-20"></div>
        <form class="form-horizontal" action="{{ url_for('opportunities.signup') }}">
          <div class="col-sm-9 input-no-left-padding">
            <input class="form-control input-lg" type="text" name="email" placeholder="What's your email address?">
          </div>
          <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-lg" value="Sign up">
          </div>
        </form>
      </div>
    </div>
  </div><!-- /splash-header -->

  <div class="spacer-10"></div>


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq-question row">
        <h2><strong>Does the City have special requirements for businesses?</strong></h2>
        <p>As part of your proposal, you'll be required to send in an <a href="">current business insurance certificate</a>, and a <a href="">minority business participation form</a>.</p>

        <p>Depending on the project, you maybe required to submit <a href="">bid bonding documents</a>.</p>

        <p>If your business is minority, woman, or veteran-owned, the City of Pittsburgh will accept current certifications from any government agency. If you aren't currently certified, you can get certified through Allegheny County <a href="">here</a>.</p>
      </div>

      <div class="faq-question row">
        <h2><strong>What does the City buy?</strong></h2>
        <p>The short answer is &mdash; almost everything!</p>

        <p>The City buys commodities and non-professional services in a joint partnership with Allegheny County. These opportunities will be advertised here. Some of them require you to submit an online proposal through the <a href="">Pennsylvania Purchasing Group's website</a>. We encourage you to sign up in advance of bidding on an opportunity.
      </div>

      <div class="faq-question row">
        <h2><strong>How do I find out about opportunities</strong></h2>
        <p>You're in the right place! This site advertises current and upcoming opportunities. You can sign up for our free notification service here.</p>
      </div>

      <div class="faq-question row in-text-signup-form">
        <form class="form-horizontal" action="{{ url_for('opportunities.signup') }}">
          <div class="col-sm-9 input-no-left-padding">
            <input class="form-control input-lg" type="text" name="email" placeholder="What's your email address?">
          </div>
          <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-lg" value="Sign up">
          </div>
        </form>
      </div>

      <div class="faq-question row">
        <p>Email <a href="">opportunities@pittsburghpa.gov</a> if you have any more questions!</p>
      </div>

      <div class="spacer-20"></div>

    </div>
  </div>

</div>

{% endblock %}
