{% extends "opportunities/layout.html" %}

{% block content %}
<div class="container-fluid">

  <div id="splash-header" class="header">
    <div class="splash-header-content">
      <div class="col-sm-8 col-sm-offset-2">
        {% include "includes/flashes.html" %}
        <h1><strong>The City of Pittsburgh could be your next client.</strong></h1>

        <h3>Sign up to get email notifications about opportunities for your business!</h3>
        <div class="spacer-10"></div>
        <form class="form-horizontal" action="{{ url_for('opportunities.signup') }}">
          <div class="col-md-9 input-no-left-padding">
            <input class="form-control input-lg" type="text" name="email" placeholder="What's your email address?">
          </div>
          <div class="col-md-3 input-no-left-padding-tablet">
            <input type="submit" class="btn btn-primary btn-lg btn-signup-form" value="Sign up">
          </div>
        </form>
      </div>
    </div>
  </div><!-- /splash-header -->

  <div class="spacer-10"></div>

  <div class="faq-content-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <h4>Frequently Asked Questions</h4>
        </div>

        <div class="faq-question row">
          <h3><strong>Does the City have special requirements for businesses?</strong></h3>
          <p>As part of your proposal, you'll be required to send in an current business insurance certificate, and a minority business participation form.</p>

          <p>Depending on the project, you maybe required to submit bid bonding documents.</p>

          <p>If your business is minority, woman, or veteran-owned, the City of Pittsburgh will accept current certifications from any government agency. If you aren't currently certified, you can get certified through Allegheny County <a href="http://www.alleghenycounty.us/mwdbe/appidx.aspx" target="_blank">here</a>.</p>
        </div>

        <div class="faq-question row">
          <h3><strong>What does the City buy?</strong></h3>
          <p>The short answer is &mdash; almost everything!</p>

          <p>The City buys commodities and non-professional services in a joint partnership with Allegheny County. These opportunities will be advertised here. Some of them require you to submit an online proposal through the <a href="http://www.govbids.com/scripts/PAPG/public/OpenBids/ViewSolicitations.asp" target="_blank">Pennsylvania Purchasing Group's website</a>. We encourage you to sign up in advance of bidding on an opportunity.</p>
        </div>

        <div class="faq-question row">
          <h3><strong>How do I find out about opportunities?</strong></h3>
          <p>You're in the right place! This site advertises current and upcoming opportunities. You can sign up for our free notification service here.</p>
        </div>

        <div class="faq-question row in-text-signup-form">
          <form class="form-horizontal" action="{{ url_for('opportunities.signup') }}">
            <div class="col-sm-9 input-no-left-padding">
              <input class="form-control input-lg" type="text" name="email" placeholder="What's your email address?">
            </div>
            <div class="col-sm-3 input-no-left-padding-tablet">
              <input type="submit" class="btn btn-primary btn-lg btn-signup-form" value="Sign up">
            </div>
          </form>
        </div>

        <div class="faq-question row">
          <h3><strong>What opportunities are open now?</strong></h3>
          <p>You can browse all available opportunities <a href="{{ url_for('opportunities.browse') }}">here</a>.</p>
        </div>

        <div class="faq-question row">
          <h3><strong>What if I have another question?</strong></h3>
          <p>Email us at <a href="mailto:pittsburgh@codeforamerica.org?Subject=Questions%20for%20FAQ">pittsbugh@codeforamerica.org</a>! We'll add new questions and answers to this page.</p>
        </div>

        <div class="spacer-20"></div>

      </div>
    </div>
  </div>

</div>

{% endblock %}
