{% extends "opportunities/layout.html" %}
{% import "macros/with_errors.html" as macros %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Manage your email subscriptions</h2>

      {% include 'includes/flashes.html' %}

      <form class="form-horizontal" method="POST">

        {{ form.csrf_token() }}

        <div class="form-group">
          <div class="col-sm-12">
            <label for="email">What's your email address? <span class="form-required">*</span></label>
            {{ macros.with_errors(form.email, class_="form-control", placeholder="Email address") }}
          </div>
        </div><!-- /email -->

        <div class="form-group">
          <div class="col-sm-6">
            <input type="submit" class="btn btn-primary form-control" value="Look up" name="button">
          </div>
        </div><!-- /email lookup group -->

        {% if form.categories.choices|length > 0 or form.opportunities.choices|length > 0 %}

          <h4>Check the boxes you wish to unsubscribe from below:</h4>

          <div id="js-subcategory-group-0">

            {% if 'subscriptions' in form.errors.keys() %}
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <span>{{ form.errors['subscriptions'][0] }}</span>
            </div>
            {% endif %}

            {% if form.categories.choices|length > 0 %}
              <div class="row">
                <div class="col-sm-12">
                  <h4>Categories subscribed to:</h4>
                  {% for subscription in form.categories %}
                    <div class="col-sm-12">
                      <div class="checkbox">
                        {{ macros.with_errors(subscription, class_="js-subcategory") }}
                        {{ subscription.label }}
                      </div>
                    </div><!-- categories -->
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            <div class="spacer-10"></div>

            {% if form.opportunities.choices|length > 0 %}
              <div class="row">
                <div class="col-sm-12">
                  <h4>Opportunities Subscribed to:</h4>
                  {% for subscription in form.opportunities %}
                  <div class="col-sm-12">
                    <div class="checkbox">
                      {{ macros.with_errors(subscription, class_="js-subcategory") }}
                      {{ subscription.label }} - <a href="{{ url_for('opportunities.detail', opportunity_id=subscription.object_data) }}">View details</a>
                    </div>
                  </div><!-- opportunities -->
                </div>
              </div>
              {% endfor %}
            {% endif %}

          </div>

          <div class="spacer-20"></div>

          <div class="form-group">
            <div class="col-sm-6">
              <input type="submit" class="btn btn-primary form-control" value="Unsubscribe from Checked" name="button">
            </div>
          </div>

          <div class="spacer-30"></div>

        {% elif form.email.data and form.email.validate(form) %}
          <p>You are not subscribed to anything! Visit the <a href="{{ url_for('opportunities.signup') }}">sign up</a> page to subscribe.</p>
        {% endif %}

      </form>
    </div>
  </div>
</div>

{% endblock %}
