{% extends "includes/nav.html" %}

{% block brandhref %}{{ url_for('opportunities.splash') }}{% endblock %}

{% block brand %}Beacon{% endblock %}

{% block navlogin %}
{% endblock %}

{% block applinks_right %}
<li><p class="navbar-text"><a href="{{ url_for('opportunities.browse') }}" class="navbar-link">Browse Opportunities</a></p></li>
<li><p class="navbar-text"><a href="{{ url_for('opportunities.signup') }}" class="navbar-link">Subscribe</a></p></li>
<li><p class="navbar-text"><a href="{{ url_for('opportunities.manage') }}" class="navbar-link">Manage Subscriptions</a></p></li>
{% if not current_user.is_anonymous() %}
<li class="dropdown">
  <a class="btn nav-dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Manage Opportunities
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ url_for('opportunities_admin.new') }}">Add New Opportunity</a></li>
    <li><a href="{{ url_for('opportunities_admin.pending') }}">View Pending Opportunities</a></li>
    <li><a href="{{ url_for('opportunities_admin.signups') }}">Download Vendor Subscriptions</a></li>
    {% if current_user.is_conductor() %}
    <li><a href="{{ url_for('admin.index') }}" class="navbar-link">Admin</a></li>
    {% endif %}
    <li role="separator" class="divider"></li>
    <li><a class="navbar-link js-signout" href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
  </ul>
</li>
{% else %}
{% include "includes/nav-login.html" %}
{% endif %}
{% endblock %}

