{% extends "includes/nav.html" %}

{% block brandhref %}{{ url_for('opportunities.splash') }}{% endblock %}

{% block brand %}Beacon{% endblock %}

{% block navlogin %}
{% endblock %}

{% block applinks_right %}
{% if not current_user.is_anonymous() %}
{% if current_user.is_conductor() %}
<li><p class="navbar-text"><a href="{{ url_for('admin.index') }}" class="navbar-link">Admin</a></p></li>
{% endif %}
<li class="dropdown">
  <a class="btn nav-dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Manage Opportunities
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ url_for('opportunities_admin.new') }}">Add New Opportunity</a></li>
    <li><a href="{{ url_for('opportunities_admin.pending') }}">View Pending Opportunities</a></li>
    <li><a href="{{ url_for('opportunities_admin.signups') }}">Download Vendor Signups</a></li>
  </ul>
</li>
{% endif %}
<li><p class="navbar-text"><a href="{{ url_for('opportunities.browse') }}" class="navbar-link">Browse Opportunities</a></p></li>
<li><p class="navbar-text"><a href="{{ url_for('opportunities.signup') }}" class="navbar-link">Sign Up</a></p></li>
<li><p class="navbar-text"><a href="{{ url_for('opportunities.manage') }}" class="navbar-link">Manage Subscriptions</a></p></li>
{% endblock %}

