{% extends 'conductor/layout.html' %}

{% block content %}

{{ super() }}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3>{{ flow.flow_name }}</h3>
      <a href="{{ url_for('conductor_metrics.index') }}">Home</a> |
      <a href="{{ url_for('conductor_metrics.download_tsv_flow', flow_id=flow.id) }}">Download raw data</a>
    </div>
  </div>

  <div id="js-metrics-loading" class="spinner-container text-center">
    <i class="fa fa-5x fa-spinner fa-spin"></i>
  </div>

  <div id="js-metrics-container">
    <div id="js-chart-error-container" class="hidden">
    </div>

    <div class="chart-container hidden">
      <h4 class="text-center">Average days spent in stage (Completed stages only)</h4>
      <div id="js-average-time-chart"></div>
    </div>

    <div class="chart-container hidden">
      <h4 class="text-center">Count of contracts by days spent in given step (In progress stages only)</h4>
      <div id="js-contract-bucket-chart"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsvars %}
{{ super() }}
<script type="text/javascript">
  var ajaxUrl = '{{ url_for('conductor_metrics.flow_data', flow_id=flow.id) }}';
</script>
{% endblock %}
