{% import 'macros/print_name.html' as pn %}
{% import 'macros/comma_separated_loop.html' as csl %}
{% macro render_activity_log(action, current_user, contract, top_level) %}

  {%- if action.action_type in ['activity', 'note'] -%}
  <div class="action-event">
  {# note #}
    {{ pn.print_name(action, current_user) }}
    wrote "<strong>{{ action.action_detail.note }}</strong>" on {{ action.taken_at|datetimeformat }}.

    {% if top_level %}
    <span class="pull-right">
      <a href="{{ url_for('conductor.delete_note', contract_id=contract.id, stage_id=action.contract_stage_id, note_id=action.id) }}"<i class="fa fa-trash-o"></i></a>
    </span>
    {% endif %}
  </div>

  {# update #}
  {%- elif action.action_type == 'update' -%}
  <div class="action-event">
    {{ pn.print_name(action, current_user) }}
    sent <strong>{{ action.action_detail.sent_to }}</strong> an update on {{ action.taken_at|datetimeformat }} with the subject "<strong>{{ action.action_detail.subject }}</strong>".
  </div>

  {# opportunity #}
  {%- elif action.action_type == 'post' -%}
  <div class="action-event action-event-post">
    {{ pn.print_name(action, current_user) }}
    <strong>{{ action.action_detail.label }}</strong> the <strong>{{ action.action_detail.title }}</strong> opportunity on {{ action.taken_at|datetimeformat }}. View it <a href="{{ url_for('opportunities.detail', opportunity_id=action.action_detail.opportunity_id) }}">on Beacon</a>.
  </div>

  {# date handling #}
  {%- elif action.action_type == 'entered' -%}
  <div class="action-event action-event-date">
    Started work on "{{ action['action_detail']['stage_name'] }}" on {{ action.action_detail.timestamp|datetimeformat }}.
  </div>

  {%- elif action.action_type == 'exited' and action.action_detail -%}
  <div class="action-event action-event-date">
    Completed work on "{{ action.action_detail.stage_name }}" on {{ action.action_detail.timestamp|datetimeformat }}.
  </div>

  {%- elif action.action_type == 'reversion' -%}
  <div class="action-event action-event-reversion">
    {{ action.action_detail.label }} on "{{ action.action_detail.stage_name }}" on {{ action.action_detail.timestamp|datetimeformat }}.
  </div>

  {# metadata update handling #}
  {%- elif action.action_type == 'update-metadata' -%}
  <div class="action-event action-event-metadata">
    {{ pn.print_name(action, current_user) }} set
    {% for field, value in action['action_detail'].items() if value is not none %}
      <strong>{{ field.replace('_', ' ')|title }}</strong> to <strong>"{{ value }}"</strong>
      {{- csl.comma_separated_loop(loop) -}}
    {% endfor %}
    on {{ action.taken_at|datetimeformat }}
  </div>

  {%- elif action.action_type == 'flow_switch' -%}
  <div class="action-event action-event-reversion">
    {{ pn.print_name(action, current_user) }}
    switched the contract flow from <strong>"{{ action.action_detail.old_flow }}"</strong> to <strong>"{{ action.action_detail.new_flow }}"</strong>. Here is the action log from the previous work:
    {% for _action in action.action_detail.old_flow_actions %}
      {{ render_activity_log(_action, current_user, contract, false) }}
    {% endfor %}
  </div>

  {%- endif -%}

{% endmacro %}
