{% import 'macros/print_name.html' as pn %}
{% import 'macros/comma_separated_loop.html' as csl %}
{% macro render_activity_log(action, current_user, contract, top_level, current_stage) %}

  {%- if action.action_type in ['activity', 'note'] -%}
  <div class="action-event js-filter-action-note">
    <span class="event-icon"><i class="fa fa-pencil"></i></span>
    {{ pn.print_name(action, current_user) }}
    wrote "<strong>{{ action.action_detail.note }}</strong>" on {{ action.taken_at|datetimeformat('%m/%d/%y') }}.

    {% if top_level %}
    <span class="pull-right">
      <a href="{{ url_for('conductor.delete_note', contract_id=contract.id, stage_id=action.contract_stage_id, note_id=action.id) }}"<i class="fa fa-trash-o"></i></a>
    </span>
    {% endif %}
  </div>

  {# update #}
  {%- elif action.action_type == 'update' -%}
  <div class="action-event js-filter-action-update">
    <span class="event-icon"><i class="fa fa-envelope-o"></i></span>
    {{ pn.print_name(action, current_user) }}
    sent <strong>{{ action.action_detail.sent_to }}</strong> an update on {{ action.taken_at|datetimeformat('%m/%d/%y') }} with the subject "<strong>{{ action.action_detail.subject }}</strong>"{% if action.action_detail.attachments and action.action_detail.attachments|length > 0 %} and {{ action.action_detail.attachments|length }} attachment(s){% endif -%}.
  </div>

  {# opportunity #}
  {%- elif action.action_type == 'post' -%}
  <div class="action-event js-filter-action-post">
    <span class="event-icon"><i class="fa fa-bullhorn"></i></span>
    {{ pn.print_name(action, current_user) }}
    {{ action.action_detail.label }} the {{ action.action_detail.title }} opportunity on {{ action.taken_at|datetimeformat('%m/%d/%y') }}. View it <a href="{{ url_for('opportunities.detail', opportunity_id=action.action_detail.opportunity_id) }}">on Beacon</a>.
  </div>

  {# date handling #}
  {%- elif action.action_type == 'entered' -%}
  <div class="action-event action-event-date js-filter-action-stage">
    <span class="event-icon"><i class="fa fa-circle-o"></i></span>
    {{ pn.print_name(action, current_user) }} started work on "<strong>{{ action.action_detail.stage_name }}</strong>" on {{ action.action_detail.timestamp|datetimeformat('%m/%d/%y') }} (marked complete on {{ action.taken_at|datetimeformat('%m/%d/%y') }}).
  </div>

  {%- elif action.action_type == 'exited' and action.action_detail -%}
  <div class="action-event action-event-date js-filter-action-stage">
    <span class="event-icon"><i class="fa fa-check-circle"></i></span>
    {{ pn.print_name(action, current_user) }} completed work on "<strong>{{ action.action_detail.stage_name }}</strong>" on {{ action.action_detail.timestamp|datetimeformat('%m/%d/%y') }} (marked complete on {{ action.taken_at|datetimeformat('%m/%d/%y') }}).
  </div>

  {%- elif action.action_type == 'reversion' -%}
  <div class="action-event action-event-date js-filter-action-stage">
    <span class="event-icon"><i class="fa fa-repeat"></i></span>
    {{ action.action_detail.label }} on "<strong>{{ action.action_detail.stage_name }}</strong>" on {{ action.action_detail.timestamp|datetimeformat('%m/%d/%y') }} (marked complete on {{ action.taken_at|datetimeformat('%m/%d/%y') }}).
  </div>

  {# metadata update handling #}
  {%- elif action.action_type == 'update-metadata' -%}
  <div class="action-event js-filter-action-metadata">
    <span class="event-icon"><i class="fa fa-file-text-o"></i></span>
    {{ pn.print_name(action, current_user) }} set
    {% for field, value in action['action_detail'].items() if value is not none %}
      {{ field.replace('_', ' ')|title }} to "{{ value }}"
      {{- csl.comma_separated_loop(loop) -}}
    {% endfor %}
    on {{ action.taken_at|datetimeformat('%m/%d/%y') }}
  </div>

  {# flow switch handling #}
  {%- elif action.action_type == 'flow_switch' -%}
  <div class="action-event js-filter-action-flow-switch">
    <span class="event-icon"><i class="fa fa-exchange"></i></span>
    {{ pn.print_name(action, current_user) }}
    switched the contract flow from "{{ action.action_detail.old_flow }}" to "{{ action.action_detail.new_flow }}". Here is the action log from the previous work:
    {% for _action in action.action_detail.old_flow_actions %}
      {{ render_activity_log(_action, current_user, contract, false) }}
    {% endfor %}
  </div>

  {# extension handling #}
  {%- elif action.action_type == 'extension' -%}
  <div class="action-event js-filter-action-extension">
    <span class="event-icon"><i class="fa fa-arrows-h"></i></span>
    {{ pn.print_name(action, current_user) }}
    extended the contract on {{ action.taken_at|datetimeformat('%m/%d/%y') }}.
  </div>

  {%- endif -%}

{% endmacro %}
