{% macro with_errors(field) %}
  {% if field.errors %}
    {% set css_class = 'has-error ' + kwargs.pop('class_', '') %}
    {% for error in field.errors %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span>{{ error|e }}</span>
    </div>
    {% endfor %}
    {{ field(class=css_class, **kwargs) }}
  {% else %}
    {{ field(**kwargs) }}
  {% endif %}
{% endmacro %}
