h3 {
  line-height: 1.25;
  font-size: 25px;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.signup-label {
  font-size: 24px;
}

.checkbox {
  .signup-label {
    font-size: 16px;
  }
}

.signup-checkbox {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}

.footer {
  background-color: @gray-light;
}

#splash-header {
  height: 550px;
  background: url('../img/opp-splash.png');
  background-size: cover;
  background-position: center center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -9px;
  padding-top: 90px;

  @media @tablet {
    padding-top: 60px;
  }

  @media @mobile {
    padding-top: 0;
  }
}

.splash-header-content,
.faq-content-container {
  @media @tablet {
    margin-left: 15px;
    margin-right: 15px;
  }

  @media @mobile {
    margin-left: 15px;
    margin-right: 15px;
  }
}

#splash-header > .messages-container {
  margin-top: -10px;

  @media @tablet {
    margin-top: -40px;
  }

  @media @mobile {
    margin-top: 0;
  }
}

.btn-signup-form {
  width: 100%;
  display: block;

  @media @mobile {
    margin-top: 5px;
  }
}

.faq-question {
  h2, p {
    padding-top: 7px;
  }

  p {
    line-height: 1.5;
  }
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

.checkbox label {
  padding-left: 25px;
}

.another-category {
  margin-top: 8px;
  margin-bottom: 8px;
}

.in-text-signup-form {
  margin-top: 15px;
  margin-bottom: 15px;
}
