{% extends 'conductor/layout.html' %}
{% import "macros/with_errors.html" as macros %}

{% block content %}
{{ super() }}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Editing Awarded Companies for {{ contract.description|title }}</h3>

      {# archived contract notice #}
      {% if contract.is_archived %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Notice!</strong> This contract is <strong>archived</strong>, which means it won't show up in the search by default.
      </div>
      {% endif %}

      {% if contract.parent %}
      <p class="text-muted">
        <small>This is a renewed contract. View the old contract on <a href="{{ url_for('wexplorer.contract', contract_id=contract.parent.id) }}">Wexplorer</a>, or edit it in <a href="{{ url_for('conductor.edit', contract_id=contract.parent.id) }}">Conductor</a>.</small>
      </p>
      {% endif %}


      <form class="form" method="POST" action="{{ url_for('conductor.edit_company', contract_id=contract.id) }}">
        {{ form.csrf_token() }}

          <div class="form-group">
            <label for="company">Company Name <span class="form-required">*</span></label>
            {{ macros.with_errors(form.name, class_='form-control', id='js-company-name-select2') }}
          </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript">
  $(document).ready(function() {
    $('#js-company-name-select2').select2({tags: true, tokenSeparators: [',', ' ']});
  })
</script>
{% endblock %}
