{% extends 'conductor/layout.html' %}

{% block content %}
{{ super() }}
<div class="container">

  <div id="js-loading-spinner">
  </div>

  <div id="js-table-container" class="hidden row">
    <h3>Assigned Contracts</h3>
    <table class="display" id="js-assigned-table">
      <thead>
        <th>Star</th>
        <th>Name</th>
        <th>Spec #</th>
        <th>Controller #</th>
        <th>Expires</th>
        <th>Current Step</th>
        <th>Assigned To</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for contract in assigned %}
          {% include 'conductor/table/row.html' %}
        {% endfor %}
      </tbody>
    </table><!-- assigned contracts table -->

    <hr>

    <h3>Unassigned Contracts</h3>
    <table class="display" id="js-all-table">
      <thead>
        <th>Star</th>
        <th>Name</th>
        <th>Spec #</th>
        <th>Controller #</th>
        <th>Expires</th>
        <th>Assign</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for contract in contracts %}
          {% include 'conductor/table/row.html' %}
        {% endfor %}
      </tbody>
    </table><!-- remaining contracts table -->
  </div><!-- table container -->
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script>
$(document).ready(function() {
  $('#js-assigned-table').dataTable({
    // order by expiration date -- column 4
    order: [[4, 'asc']]
  });
  $('#js-all-table').dataTable({
    // order by expiration date -- column 4
    order: [[4, 'asc']]
  });

  $('#js-loading-spinner').addClass('hidden');
  $('#js-table-container').removeClass('hidden');

});
</script>
{% endblock %}
