{% extends 'layout.html' %}

{% block assets %}
  {% assets "conductor_less" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% block nav %}
{% include "conductor/nav.html" %}
{% endblock %}

{% block jsvars %}
<script type="text/javascript">
var contractId, activeTab, currentStageEnter, ajaxUrl;
</script>
{% endblock %}

{% block js %}
  {{ super() }}
  {% assets "conductorjs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

