{% extends "includes/nav.html" %}

{% block brandhref %}{{ url_for('conductor.index') }}{% endblock %}

{% block brand %}Conductor{% endblock %}

{% block applinks %}
<li><a href="{{ url_for('conductor.index') }}">Contract List</a></li>
<li class="dropdown">
  <a class="btn nav-dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    COSTARS Upload <span class="caret"></span>
    <span class="sr-only">Toggle dropdown</span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ url_for('conductor_uploads.upload_costars') }}">Upload COSTARS Spreadsheet</a></li>
    <li><a href="{{ url_for('conductor_uploads.costars_contract_upload') }}">Upload Contract PDFs</a></li>
  </ul>
</li>
<li><a href="{{ url_for('conductor_metrics.index') }}">Metrics</a></li>

{% endblock %}

{% block navlogin %}
{{ super() }}
{% endblock %}
