{% extends "conductor/layout.html" %}
{% import "macros/with_errors.html" as macros %}

{% block content %}
{{ super() }}

<div class="container">

  <div class="upload-error" hidden>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="error-message">Something went wrong processing your file. The server says: </span>
    </div>
  </div>

  <div class="upload-processing">
    Upload processing...
  </div>

  <div class="upload-success" hidden>
    <h2>Upload successful</h2>
    <p><a href="{{ url_for('conductor.index') }}">Go Home</a></p>
  </div>
</div>

{% endblock %}

{% block js %}
{{ super() }}

<script>
var filepath = '{{ filepath }}';
var filename = '{{ filename }}';
var _delete = true;

if (!filepath) {
  window.location.reload();
}

$.ajax({
  url: "{{ url_for('conductor.process_costars_upload') }}",
  method: 'POST',

  data: { filepath: filepath, filename: filename, _delete: _delete },

  success: function(data, status, xhr) {
    $('.upload-processing').hide()
    $('.upload-success').show()
  }, error: function(xhr, status, error) {
    $('.upload-error').show()
    $('.error-message').append(error + ': ' + JSON.parse(xhr.responseText).message);
  }
})

</script>

{% endblock %}
