{% extends 'sherpa/layout.html' %}
{% block content %}

<div class="post">

  <div class="post-header">
    <h1 class="post-title">{{ title }}</h1>
  </div>

  <div class="post-content">

    {% for item in pre_button_content %}
      {% if item.title %}
        <h3>{{ item.title }}</h3>
      {% endif %}
      <p>
        {{ item.content }}
      </p>
    {% endfor %}

    <div class="btn-group">
      {% for button in buttons %}
        <a
          class="pure-button pure-button-primary button-xlarge"
          href="{{ button.url }}"
        >
          {{ button.text }}
        </a>
      {% endfor %}
    </div>

    {{ content | safe }}

    <p>Go back: <a href="{{ prev.url }}">{{ prev.text }}</a>, or go to <a href="{{ url_for('sherpa.index') }}">the beginning</a>.</p>

  </div>

</div>

{% endblock %}
