{% extends 'sherpa/layout.html' %}
{% block content %}

{{ super() }}

<div class="container">

  <div class="post question-main">

    <div class="post-header spacer-20">
      <h1 class="post-title">{{ title }}</h1>
    </div>

    <div class="post-content">

      {% for item in pre_button_content %}
        {% if item.title %}
          <h3>{{ item.title }}</h3>
        {% endif %}
        <p>
          {{ item.content }}
        </p>
      {% endfor %}

      <div class="spacer-20">
        {% for button in buttons %}
          <a
            class="btn btn-primary btn-sherpa"
            href="{{ button.url }}"
          >
            {{ button.text }}
          </a>
        {% endfor %}
      </div>

      {{ content | safe }}

      {% if prev %}
      <p class="prev-block">Go back: <a href="{{ prev.url }}">{{ prev.text }}</a>, or go to <a href="{{ url_for('sherpa.index') }}">the beginning</a>.</p>
      {% endif %}

    </div>

  </div>

</div>

{% endblock %}
